@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@400;500&family=Roboto+Condensed&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-family: 'Montserrat', sans-serif;
}
.container{
    margin: auto auto;
}
a{
    text-decoration: none;
}

/*  */


/* header */

/*  */
.header-block{
    display: flex;
    justify-content: space-between;
    
}
.logo-header{
    margin-left: 10px;
    
}
nav.navigation-header{
    display: block;
    margin-top: 95px;

}
ul.navigation-items{
    display: flex;
    list-style: none;
}
li.navigation-item{
    margin-right: 10px;
    
}
li.navigation-item-img{
    margin-right: 30px;
    padding: 7.33px 12px;
}
a.navigation-btn{
    text-decoration: none;
    color: white;
    padding: 7.33px 12px;
    
}
img.navigation-image{
    margin-top: -12px;
}

#burgerIcon{
    display: none;
        
}

a:hover.navigation-btn{
    border-radius: 15px;
    background-color: #E87467;
}
li:hover.navigation-item-img{
    border-radius: 15px;
    background-color:  #0070FF;
}

.header-psn{
    background-image: url('../img/backround-heder.png');
    background-size: cover;
    position: relative;
}

@media screen and (max-width: 1000px) {
    nav.navigation-header{
        display: none;
    }
    nav.navigation-header.show-menu {
        display: block; 
        position: fixed;
        width: 100vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(98, 97, 97, 0.579);
        padding: 20px;
        border-radius: 5px;
        backdrop-filter: blur(10px);

    }

    ul.navigation-items{
        display: flex;
        list-style: none;
        flex-direction: column;
        text-align: center;
    }
    li.navigation-item{
        margin-right: 0px;
        margin-top: 25px;
        padding: 7.33px 12px;
        
    }
    li.navigation-item-img{
        margin-top: 25px;
        padding: 7.33px 12px;
        margin-right: -1px;
    }
    a.navigation-btn{
        text-decoration: none;
        color: white;
        padding: 7.33px 12px;
        
    }
    img.navigation-image{
        margin-top: -12px;
    }

    #burgerIcon{
        display: block;
        width: 40px;
        height: 40px;
        background-color:aliceblue;
        border-radius: 50%;
        color: #5849FF;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
    
        position: absolute;
        top: 77px;
        right: 13px;
    }

    li:hover.navigation-item-img{
        border-radius: 0px;
        background-color:  transparent;
    }
}
/*  */

/* header */

/*  */

/*  */

/* country */

/*  */
section.popular-country{
    display: flex;
    background-image: url('../img/Rectangle 32.png');
    background-size: cover;
    height: 100vh;
}
.block-popular-country{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
.left-block--popular-country{
    width: 500px;
    
}
h1.header-popular-country{
    font-weight: 600;
    font-size: 32px;
    line-height: 188.52%;
    color: #EAFFF5;

    padding-bottom: 5px;
}
p.description-popular-country{
    font-weight: 300;
    font-size: 20px;
    line-height: 188.52%;
    color: #EAFFF5;
}

ul.country-items{
    column-count: 2;
    list-style: none;
}
li.country-item{
    padding: 16.16px 63px;
    background: #6AA0A6;
    border-radius: 15px;

    margin-bottom: 40px;
    margin-left: 30px;
    
}
a.country-btn{
    text-align: center;
    color: #EAFFF5;
}
li:hover.country-item{
    background: rgba(159, 134, 170, 0.73);
    border-radius: 15px;

    content: "Без виз, без сертификата";
}

@media screen and (max-width: 1000px) {
    .block-popular-country{
        display: flex;
        flex-direction: column;
    }
    .right-block-popular-country{
        margin-top: 100px;
    }
    h1.header-popular-country {
        text-align: center;
    }
    p.description-popular-country{
        text-align: center;
    }
}

@media screen and (max-width: 555px) {
    .block-popular-country{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    ul.country-items{
        column-count: 1;
        list-style: none;
    }

    li.country-item {
        width: 100px;
    }
    .right-block-popular-country {
        margin-top: 50px;
    }
    .left-block--popular-country{
        width: 100%;
    }
    section.popular-country{
        height: 100%;
    }

}