@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@400;500&family=Roboto+Condensed&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-family: 'Montserrat', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
}


/* 

header

*/


.header-psn{
    background-image: url('../img/backround-heder.png');
    background-size: cover;
}
.header-block{
    display: flex;
}
.logo-header{
    width: 282px;
    height: 170.57px;
    margin-left: 133px;
    margin-top: 23px;
}
.navigation-header{
    width: 804px;
    height: 55.51px;
    margin-left: 137px;
    margin-top: 91.85px;
    margin-right: 133px;
}
ul.navigation-items{
    display: flex;
    justify-content: center;
    list-style: none;
}
li.navigation-item{
    margin-right: 27px;
}
li.navigation-item-img{
    padding: 7.33px 12px;
    margin-right: 45px;
}
li.navigation-item-img:last-child{
    margin-right: 0px;
}
a.navigation-btn{
    text-decoration: none;
    color: #ECFFE8;
    padding:  7.33px 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
}
a:hover.navigation-btn{
    border-radius: 15px;
    background-color: #E87467;
}
li:hover.navigation-item-img{
    border-radius: 15px;
    background-color:  #0070FF;
}

.block-offices{
    background-image: url('../img/Rectangle 34.png');
    background-size: cover;

    width: 1525px;
    height: 1098px;
}
h1.header-offices{
    padding-top: 31px;

    width: 629px;
    height: 140px;

    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 188.52%;
    color: #E6F7F0;

    margin: 0 auto;
    padding-bottom: 30px;
}
.line-offices{
    border-bottom: 3px solid #E6F0E6;
    width: 245px;
    margin:0 auto;

    margin-bottom: 28px;
}
.find-block-offices{
    display: flex;
    align-items: center;
    margin-left: 133px;

    width: 1258.4px;
    height: 168px;

    background: rgba(230, 208, 196, 0.65);
    border-radius: 20px;
}
.block-city{
    margin-left: 34px;

    width: 182.16px;
    height: 93.33px;

    background: #FFFFFF;
    border-radius: 5px;
}
span.header-text-form-offices{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 188.52%;
    color: #B0ACAC;

    margin-left: 10px;
    padding-top: 1px;
}
.form{
    margin-top: 10px;
    margin-left: 16px;

}
select#offices{
    width: 149px;
}
.form-address{
    width: 269px;
    height: 95.82px;

    padding-left: 38.86px;
}
input.form-address{
    border: none;
    border-radius: 5px;
}
input.form-address::placeholder{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 188.52%;
    color: #B0ACAC;
}
.block-btn-offices{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 331.53px;
    height: 82.13px;

    margin-left: 114.86px;

    background: #FFFFFF;
    border-radius: 20px;
}
a.btn-offices{
    margin-right: 26.72px;
    padding: 8.71px 12.14px;

    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 188.52%;

    color: #000000;

}
a:last-child{
    margin-right: 0px;
}
a:hover.btn-offices{

    border-radius: 20px;
    background: #5849FF;
    color: #ECFFE8;
}
.list-item-block{
    display: flex;
    align-items: center;
    margin-bottom: 23px;
}
.style-list-img{
    margin-right: 48px;
}
.text-list-item-block{
    width: 404px;
}
h3.header-list-item{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 188.52%;
    color: #1D1D1D;
}
p.description-header-list-item{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 188.52%;
    color: #1D1D1D;
}
.find-block-office{
    display: flex;
    margin-left: 133px;
    margin-top: 78px;
}
.map-block-offices{
    margin-left: 74px;
}
